VITE_SUPABASE_URL=https://jykmbfasznzsstpxjbur.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5a21iZmFzem56c3N0cHhqYnVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzg0NTEsImV4cCI6MjA4OTk1NDQ1MX0.xkvE_Lx1oUzN0-KC6Ze-MQpOFos_z-kibjn72xZIEd0
VITE_SUPABASE_ORDERS_TABLE=astro_orders
VITE_SUPABASE_PRODUCTS_TABLE=products
VITE_SUPABASE_VOUCHERS_TABLE=astro_vouchers
VITE_ADMIN_SESSION_TTL_MINUTES=480
